.v-nav-item {
  a{
    display: block;
    padding: 5px 0px;
    border-bottom: 1px solid #fafafa;
    color: #999;
    font-weight: 600;
    font-size: 1rem;
  }
  &:last-child a{
    border-bottom: 0;
  }

  &:hover a{
    text-decoration: none;
    color: #333;
  }
}

li.active a{
  text-decoration: none;
  color: #333;
}
