@import 'OpenSans.css';
@import './variables';
@import './partials/header';

body {
  background-color: #f6f6f6 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  font-weight: 400;
}

.v-wrap {
  margin-top: 20px;
  .v-page {
    float: left;
    width: calc(100% - 290px);

    .content-list {
      margin-top: 10px;
      margin-left: -5px;
      margin-right: -5px;
    }
    .content-item-wrap {
      padding-left: 5px;
      padding-right: 5px;

      .content-item {
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
        height: 100%
      }
    }
    @media (max-width: 989px) {
      .content-item-wrap {
        width: 100%
      }
    }
  }

  .v-sidebar {
    float: right;
    width: 280px;

    .widget {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  @media (max-width: 991px) {
    .v-page {
      width: 100%;
    }
    .v-sidebar {
      display: none;
    }
  }
}

.ant-card-head h6 {
  line-height: 48px !important;
}

.v-content-para {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .author {
    font-weight: 600;
    color: #FD7400;
  }
}
